/* Write your code here. */
.list-item-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d7dae6;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.question-text {
  color: #52606d;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Roboto';
}
.answer-text {
  color: #9aa5b1;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
.plus-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
